*{
    margin: 0px;
    padding: 0px;
}
#wrap{
    width: 1080px;
    margin: 0 auto;
}
nav{
    height: 50px;
    background-color: pink;
    margin: 0 135px;
}
nav > ul{
    list-style: none;
    padding: 10px;
    text-align: center;
}
nav > ul >li{
    display: inline-block;
    border: 3px solid wheat;
    padding: 1px 30px;
    margin: 0 25px;
    background-color: aliceblue;
    border-radius: 100px;
    font-weight: bold;
}
.menu{
    border: 3px solid wheat;
    border-radius: 100px 100px / 100px 100px;
    margin-top: 15px;
}
.cart{
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
#login{
    float: right;
    margin-top: 15px;
    margin-right: 6px;
    }
#login > a{
    text-decoration: none;
    color: black;
}
#login > a > h3 > div::after{
    content: " |";
    margin-right: 1px;
}
#login > a > h3 > div:link{
    color: none;
}
section{
    display: inline-flex;
}
#select1 > div{
    border: 1px solid black;
    margin: 80px 8px;
    padding: 200px 160px;
    border-radius: 40px;
}
#word1{
    text-align: center;
    margin-top: 130px;
    margin-bottom: -20px;
    margin-left: 30px;
}
#select2 > div{
    border: 1px solid black;
    margin: 80px 8px;
    padding: 200px 160px;
    border-radius: 40px;
}
#word2{
    text-align: center;
    margin-top: 130px;
    margin-bottom: -20px;
    margin-left: 30px;
}
#select3 > div{
    border: 1px solid black;
    margin: 80px 8px;
    padding: 200px 160px;
    border-radius: 40px;
}
#word3{
    text-align: center;
    margin-top: 130px;
    margin-bottom: -20px;
    margin-left: 30px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 15px;
}
footer > div{
    color: blanchedalmond;
}
